html,
body {
  font-size: $font-size-base;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color-base;
  font-weight: 200;
  margin: 0;
  padding: 0;
  height: 100%;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}